<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML|Challenge 2</title>
    <link rel="stylesheet" href="../css/stylesheet.css">
</head>
<body>
    <ul>
        <li><a href="../project 1/project_1.html">1|</a></li>
        <li><a href="../project 2/project_2.html">2|</a></li>
        <li><a href="../project 3/project_3.html">3|</a></li>
        <li><a href="../project 4/project_4.html">4|</a></li>
        <li><a href="../project 5/project_5.html">5|</a></li>
        <li><a href="../project 6/project_6.html">6|</a></li>
        <li><a href="../project 7/project_7.html">7|</a></li>
        <li style="float:right"><a class="active" href="../index.html">Index</a></li>
      </ul>
      <!--from down here its work not navbar anymore-->
      <!--voor informatie wat je moet doen open oefeningen.txt en lees project 2-->
      <div class="container_1">
        <img src="" alt="picture" class="">
        <div class="">test</div>
    </div>
</body>
</html>